name: Build-Win

on: [push, pull_request]

jobs:
  build-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - uses: numworks/setup-msys2@v1
    - name: update pacman
      run: msys2do pacman -Syu --noconfirm
    - name: install monero dependencies
      run: msys2do pacman -S --noconfirm mingw-w64-x86_64-toolchain make mingw-w64-x86_64-cmake mingw-w64-x86_64-boost mingw-w64-x86_64-openssl mingw-w64-x86_64-zeromq mingw-w64-x86_64-libsodium mingw-w64-x86_64-hidapi mingw-w64-x86_64-protobuf-c mingw-w64-x86_64-libusb git mingw-w64-x86_64-qt5
    - name: build
      run: msys2do ./build.sh release
    - name: test qml
      run: msys2do build/release/bin/swap-wallet-gui --test-qml
